* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, serif;
}

body {
    background-color: #1b1717e1;
    color: #d6d2d2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.iceland-img {
    width: 635px;
    height: 100vh;
    position: relative;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  } 
  
  div {
      display: inline-block;
      margin-bottom: 20px;
  }
  
  div label {
      display: block;
  }

  .info-head {
    margin-top: 50px;
}

.text {
    margin-bottom: 20px;
}

.container2 {
    margin-left: 50px;
    padding: 50px;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo-bg {
    color: #ffffff;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    top: 5vh;
    left: 15vw;
}

.logo-name {
    font-family: 'Playfair Display';
}
    
input {
    width: 230px;
    height: 30px;
    border-radius: 5px;
    border: 2px #E5E7EB solid;
}

input:focus {
    outline: none;
    border:  2px #4abfe6 solid;
}